body { 
    margin: 0; 
    padding: 0; 
    background-color:rgb(92, 87, 87);
} 
a, li, button { 
    cursor: pointer; 
} 
.dark { 
    background:; 
} 
.container { 
    position: absolute;

margin: auto;

padding: 0;

top: 2.5%; left: 0; right: 0;

height: 95%;

width: 80%;

border: 0;

box-shadow: 0 0 25px 5px #ccc;

color: black;

min-height: 460px;

min-width: 770px;

max-width: 1150px;

background-color: rgb(92, 87, 87);
} 
.header, .center, .footer,  { 

} 
.header { 
    position: absolute;

    margin: auto;
    
    box-sizing: border-box;
} 
.center { 
    margin: 0 1% 0 1%;

border-bottom: 1px solid #ccc;

top: 0; left: 0; right: 0;
 
height: 15%;

text-align: center;
} 
.left { 
    top: 15%; 
    left: 225px; 
    right: 225px; 
    bottom: 6%;
box-sizing: border-box;

} 
.right { 
   
} 
.footer { 
   
} 
.dialog-group { 
  
} 
.dialog-group > button { 
    
} 
.btn-red { 
    margin-left: 10px;
    height:40px;
    width:150px;
    border-color:rgb(228, 79, 79) ; 
    color:rgb(228, 79, 79);
    background-color:rgb(92, 87, 87);
} 
.btn-st { 
    margin-left: 10px;
    background-color:rgb(92, 87, 87) ;
    color:white;
    border-color:white; 
} 

.map { 
   
} 
.wrapl{
    width: 200px;
    height: 100px;
    background: darkgray;
    margin-left: 10px;
    border-radius: 5px;
    float: left;
}

.wrapr{
    width: 200px;
    height: 100px;
    background: darkgray;
    margin-right: 10px;
    border-radius: 5px;
    float: right;
    text-align: left;
}
.clock {
    float: center;
    text-align: center;
    font-size: 170%;
    margin-top: 10px;

}
.right-team-data { 
    text-align: left;
    float: right; 
    margin-top: 20px;
<<<<<<< HEAD
    margin-right:70px;
    color: white;
=======
    margin-left:60px;
>>>>>>> e5a865f822e6b6d922d3f3976133504dd4b78464
} 
.left-team-data { 
    text-align: left;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    color: white;  
} 
.team-data-label { 
    font-size: 110%; 
} 
.team-caption { 
    font-size: 130%;
    font-weight: bold;
    max-width: 200px;-ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
.team-data-value { 
    font-style: italic; 
} 
.rectangle {
    background: darkgray;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    float: center;
    width: 1100px;
    height: 10px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.log-box { 
   
} 
.input-group { 
    margin-bottom: 25px; 
} 
.progress { 
    
} 
.progress-bar { 
  
} 