body { 
    margin: 0; 
    padding: 0; 
} 
a, li, button { 
    cursor: pointer; 
} 
.dark { 
    background:; 
} 
.container { 
    
} 
.header, .center, .footer,  { 

} 
.header { 
   
} 
.center { 
    
} 
.left { 
    
} 
.right { 
   
} 
.footer { 
   
} 
.dialog-group { 
  
} 
.dialog-group > button { 
    
} 
.btn-red { 
    height:40px;
    width:150px;
    border-color:rgb(228, 79, 79) ; 
    color:rgb(228, 79, 79);
    background-color:rgb(92, 87, 87);
} 
.btn-st { 
    background-color:rgb(92, 87, 87) ;
    color:white;
    border-color:white; 
} 
.btn-warn { 
    background-color: ; 
} 
.map { 
   
} 
.team-data { 
    text-align: left; 
} 
.team-data-label { 
    font-size: 110%; 
} 
.team-caption { 
    
} 
.team-data-value { 
    font-style: italic; 
} 
.log-box { 
   
} 
.input-group { 
    margin-bottom: 25px; 
} 
.progress { 
    
} 
.progress-bar { 
  
} 